/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
	font-size: 62.5%;
		height:100%;
}
/*this is a test*/
body {
	height:100%;
	font-size: 1.6em;
	font-family: 'Exo', sans-serif;
	font-weight:200;
	background: #666;
	color:#7e0245;
	line-height: 133%;
	text-align: center;
	background: #f6f8f9; /* Old browsers */
	-webkit-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;

}
.easyNav a{
	text-decoration: none;
}
.easyNav a:hover{
	text-decoration: none;

}
.color{
	padding:1.5em, 3em,1.5em,3em;

	-webkit-transition: font-size 0.5s ease-out;
	transition: font-size 0.5s ease-out;

}

.color:hover{
	font-size: 18px;
	text-decoration: none;
	color:#88f;
}

.articles{
}
.one{
	color:#7e0245;
	padding:1.5em, 3em,1.5em,3em;
	
}

.two{
	color: #accede;
	padding:1.5em, 3em,1.5em,3em;
}

.three{
	color: #beaded;
	padding:1.5em, 3em,1.5em,3em;
}

.four{
	color: #decade;
	padding:1.5em, 3em,1.5em,3em;
}

.fig{

	
	overflow: auto;
	-webkit-transition: all 1.5s ease-out;
	transition: all 0.5s ease-out;
font-family:'Open Sans', sans-serif;
font-weight:300;

}
#funHeader, .jsboxes{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	height:0px!important;
	overflow:visible;
	border:1px solid #444;
}
.wrapper {
	width:100%;
	top:0px;
	left:0px;
	float:right;
	clear:both;
	margin: 2rem auto 2rem auto;


	padding: 2rem 10px 1rem 10px;
}

.h1 {
	margin: 1rem 0 2rem 0;
}

.site-header {

	margin-bottom: 1rem;
	padding: 1rem 0;
}

.site-header .h1 {
	font-size: 3.1rem;
	text-align: center;
	letter-spacing: -0.1rem;
}
.content-header{
		cursor: pointer;

}


.contentheader .h1 {
	font-size: 28pt;
}

.gallery {
	margin-top: 2rem;

	background: #d1d1d1;
	overflow:hidden;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.image {
	max-width: 100%;
	border-width: 0px;
	border-collapse: #000;
	margin-bottom: 10px;
	

}

.group{
	margin: 0px auto 0px auto;
	padding: 10px 10px 10px 10px;

	display: inline-block;
	vertical-align: top;

}

.articles{

		width: 100%;
}
.content {
	top:0px;
	max-width:600px;
	min-width:10rem;
	
	height:3rem;
	margin:1rem auto 3rem auto;
	padding:1rem 1rem 1rem 1rem;
	cursor:pointer;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.moreInfoClose{
	font-size:12pt!important;
	margin-left:75%;

}
a.moreInfoClose,.h1 a,
a:link.moreInfoClose ,.h1 a:link,/*lord*/
a:visited.moreInfoClose ,.h1 a:visited,/*vaders*/
a:focus.moreInfoClose ,.h1 a:focus,/*former*/
a:hover.moreInfoClose ,.h1 a:hover,/*handel:*/
a:active.moreInfoClose ,.h1 a:active/*Anakin*/
{
	text-decoration:none;
	color:#800040;
}
.hiddenContent{
	 height : 3rem;
	 width:343px;

	 overflow : hidden;
 	-webkit-transition: all .5s ease-out;
 	transition: all .2s ease-in-out;
	 
}
#moreInfo{ 
	width:380px;
	margin:0px auto .75rem auto;
	max-height:600px;
	overflow:auto;
	padding-bottom:.75rem;
	border-bottom:3px dotted #ba5d90;
	-webkit-transition:width .2s ease-in-out;
	transition:width .2s ease-in-out;

}
.content-header{
	-webkit-transition:font-size .2s ease-in-out;
	transition:font-size .2s ease-in-out;
}
#moreInfo .content-header{
	font-size:20pt;
	color:#800040;
}
.visibleContent .content-header{
	font-size:20pt;
	color:#800040;
}
.hiddenContent .content-header{
	font-size:16pt;
	color:#800040;
}
.visibleContent{
	min-height:320px;

 	-webkit-transition: all .7s ease-in;
 	transition: all .7s ease-in-out;
	overflow : auto;
}
.easyNav{
	margin-bottom:2.5rem;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.easyNavItem{
	cursor:pointer;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.easyHidden{
	height : 0rem;
	overflow : hidden;

	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-in-out;
}
.easyVisible{
	height:2.5rem;

	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in-out;
	
}
.site-footer{

	margin:.3rem auto 0 auto;
	bottom:.3rem;
}
@media only screen and (min-width: 480px) {
	.funHeader{
			display:block;
	}
	#moreInfo{
		width:400px;
	}
	body{
		
		color:#7e0245;
		background: #f6f8f9; /* Old browsers */

		background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */

		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */

		background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */

		background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */

		background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */

		background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	}

	.wrapper {
        float:right;
        clear:both;
		width: 100%;
		text-align:center;
		overflow:auto;
	}
	.site-footer{
	    float:right;
	    clear:both;
		width:100%;
		margin:1rem auto 0 auto;
	}
	.hiddenContent{
		height:3rem;
	}
	.visibleContent{
		height:300px;
	}
	.content{


	}
	.gallery {
		float: right;
		margin: 2rem 0 2rem 20px;
		
	}
}

@media only screen and (min-width: 768px) {
	#moreInfo{
		width:700px;
	}
	body{
		color:#7e0245;
	}
	.wrapper { 

		width: 100%;
		text-align:center;

		padding:0;

	}
	
	.articles {

		width: 100%;
		
	}
	.content{


		margin:2rem 4rem 2rem 4rem;		


	}
	.content.hiddenContent{
		height:3rem;
		width:0px;

		margin:1rem auto 1rem auto;		
	}
	.content.visibleContent{
		width:450px;
		margin:2rem auto 2rem auto;		
	}
	.gallery {
		width: 450px;
	}
	.easyNav{
		/*float:right;*/
		width:250px;
		margin:2rem auto 2rem auto;
	}
	.image {
		border: none;
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 1024px) {
	
	#moreInfo{
		width:900px;
	}
	.wrapper {width: 100%;
		text-align:center; }

	.articles {
		float: left;
		
		width: 100%;
	}
	.content{
		min-width:14rem;
	}
	.content.visibleContent{
		
		margin:2rem auto 2rem auto;		
	}
	.content.hiddenContent{

		height:3rem;
	}
	.gallery {
		float: right;
		width: 600px;
		margin: 2rem 0 2rem 20px;
	}
}
